<div class="file-stack-dev">
    <div>
        <file-stack [data-accept]="AppLitteralsConfig.uploadOthers" data-maxFiles="6" (complete)="onFileStackUploadComplete($event)">
            <button class="btn-font">
                <i></i> Upload File Using FileStack
            </button>
            <br>
            <br>
        </file-stack>
        <span *ngFor='let file of uploadedFiles; let i = index;'>
            File:<a href='{{file.url}}'class="font-red" target="_blank">
                <i class="fa fa-file"></i>&nbsp; &nbsp;{{file.originalPath}}
            </a>
            <br>
        </span>
    </div>
</div>